#craps-game{
    background-image: url('../images/Vegas.jpg');
    color: white; 
    background-position: center top;
}

.craps-game-title{
    text-align: center;
    margin-top: 100px;
}

.craps-game-container{
    width: min(700px, 80vw); /*This made the width smaller in mobile*/
    height: min(500px, 57vw);
    border: solid 1px white;
    margin: 100px auto 0 auto; /*this is to put the div in the middle. 0 top and bottom, automatic left and right*/
    background-image: url('../images/Crapstable.jpg');
    background-size: cover;
    background-position: center top;
}