:root { /* This is what is used to create variables in css*/
  --titleSectionPrimaryColor: Brown;
} 
    
    
    
    #title {
      color: var(--titleSectionPrimaryColor);
      text-align: center;
      padding-top: 200px;
      background-image: url('/images/igor-kasalovic-tNDvFkxkBHo-unsplash.jpg');
      background-position: center top;
      }

    h1 {
      color: var(--titleSectionPrimaryColor);
    }

    .title-section-button{
      color: var(--titleSectionPrimaryColor);
      border: solid var(--titleSectionPrimaryColor) 1px;
      border-radius: 5px;
      padding: 15px 20px;
      background-color: transparent;
    }
    .title-section-button:hover {
      background-color: red;
      cursor: pointer;  
      }